[submodule "pigz"]
	path = vendor/pigz
	url = https://github.com/madler/pigz.git
[submodule "gzip"]
	path = vendor/gzip
	url = https://github.com/JackDanger/gzip.git
[submodule "isa-l"]
	path = vendor/isa-l
	url = https://github.com/JackDanger/isa-l.git
	branch = apple-arm64-fix
[submodule "zopfli"]
	path = vendor/zopfli
	url = https://github.com/google/zopfli.git
[submodule "rapidgzip"]
	path = vendor/rapidgzip
	url = https://github.com/mxmlnkn/rapidgzip.git
[submodule "libdeflate"]
	path = vendor/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
